{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "My plugin" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_domain_page_header.html" with title=_("My Panel") %}
{% endblock page_header %}

{% block main %}
  Hello world!

  <ng-include src="'{{ STATIC_URL }}dashboard/identity/video_panel/video_panel.html'">
  </ng-include>

  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
  </div> 

{% endblock %}
